body {
    font-family: 'Roboto', sans-serif !important;
}

.warenkorb {
}

.tableContainer {
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

th {
    vertical-align: middle;
}

.cartBtn {
    transition: all .2s ease-in-out;
}

.cartBtn:hover {
    transform: scale(1.1);
}

.addToCart {
    color: #262626;
    background-color: transparent;
    text-decoration: none;
}

.addToCart:hover {
    color: #595959;
    background-color: transparent;
    text-decoration: none;
}

.addToCart:active {
    color: #8C8C8C;
    background-color: transparent;
    text-decoration: none;
}

.buttons {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 110px;
}